@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

@theme {
  /*Font Families*/
  --font-raleway: 'Raleway', sans-serif;
  --font-bungee: 'Bungee', cursive;
  /*Font Sizes*/
  --text-body: 1rem; /*16px*/
  --text-sub: 1.5625rem; /*25px*/
  --text-title: 2.4375rem; /*39px*/
  --text-heading: 3.8125rem; /*61px*/
  --text-display: 5.75rem; /*92px*/
  /*Colors*/
  --color-blue: #1C2E55;
  --color-light-blue: #4461EF;
  --color-green: #C7EFB3;
  --color-dark-white: #EDF0FE;
  --color-white: #FFFFFF;
  --color-dark: #000222;
  --color-gold: #FF9A23;
}

html {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: var(--text-body, 1rem);
  line-height: 1.5rem;
  letter-spacing: -0.5%;
  color: var(--color-dark, #000222);
  background-color: #1E1E1E;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  overscroll-behavior: none;
}

/*img / iframe - responsive*/

.img-responsive, .iframe-responsive {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

/*svg - responsive*/

.svg-responsive {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}