@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  font-family: 'Gotham', sans-serif;
  font-weight: 400;
  font-size: var(--paragraph, 1rem);
  color: var(--dark, #1A1A1A);
  background-color: var(--white, #FFFFFF);
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  overscroll-behavior: none;
}