@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

@theme {
  /*Font Families*/
  --font-raleway: 'Raleway', sans-serif;
  --font-bungee: 'Bungee', cursive;
  --font-orbitron: 'Orbitron', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
  /*Font Sizes*/
  --text-body: 1rem; /*16px*/
  --text-sub: 1.5625rem; /*25px*/
  --text-title: 2.4375rem; /*39px*/
  --text-heading: 3.8125rem; /*61px*/
  --text-display: 4.6875rem; /*75px*/
  /*Colors*/
  --color-blue: #1C2E55;
  --color-light-blue: #4461EF;
  --color-green: #C7EFB3;
  --color-dark-white: #EDF0FE;
  --color-white: #FFFFFF;
  --color-dark: #000222;
  --color-gold: #FF9A23;
  /*Shadows*/
  --shadow-primary: 0px 4px 12px 0px rgba(0, 2, 34, 0.25);
  --shadow-secondary: 0px 4px 12px 0px rgba(0, 2, 34, 0.5);
  --inner-shadow-primary: inset 0px 0px 12px 0px rgba(0, 2, 34, 0.5);
  /*Breakpoints*/
  --breakpoint-sphone: 361px;
  --breakpoint-phone: 401px;
  --breakpoint-xphone: 541px;
  --breakpoint-stablet: 641px;
  --breakpoint-tablet: 761px;
  --breakpoint-slaptop: 961px;
  --breakpoint-mlaptop: 1024px;
  --breakpoint-laptop: 1281px;
  --breakpoint-desktop: 1537px;
  --breakpoint-xdesktop: 1761px;
  --breakpoint-xldesktop: 1841px;
  --breakpoint-xxldesktop: 2101px;
  /*Widths*/
  --width-container: 90vw;
  --width-container: 90svw;
  --width-xcontent: 85vw;
  --width-xcontent: 85svw;
  --width-content: 80vw;
  --width-content: 80svw;
  --width-section: 56vw;
  --width-section: 56svw;
}

html {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: var(--text-body, 1rem);
  line-height: 1.5rem;
  letter-spacing: -0.5%;
  color: var(--color-dark, #000222);
  background-color: var(--color-white, #FFFFFF);
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  overscroll-behavior: none;
}

/*img / iframe - responsive*/

.img-responsive, .iframe-responsive {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

/*svg - responsive*/

.svg-responsive {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

/*Inner shadow*/

.inner-shadow-primary {
  box-shadow: var(--inner-shadow-primary, inset 0px 0px 12px 0px rgba(0, 2, 34, 0.5));
}

@media screen and (min-width: 1281px) {
  .inner-shadow-none {
    box-shadow: none;
  }
}

/*Container breakpoints*/

.container-parent {
  container-type: inline-size;
}

.badge-container {
  container-type: inline-size;
  margin-top: -2.25rem;
}

.badge-container--xdesktop {
  container-type: inline-size;
}

@container (min-width: 419px) {
  .badge-container {
    margin-top: -1.65625rem;
  }
}

@container (min-width: 408px) {
  .badge-container--xdesktop {
    margin-top: -1.65625rem;
  }
}

/*Blurs*/

.blur-setup {
  position: relative;
  overflow: hidden;
}

.blur-setup::before {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 1000px;
  height: 1000px;
  pointer-events: none;
  z-index: 0;
}

.blur-setup::after {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 1000px;
  height: 1000px;
  pointer-events: none;
  z-index: 0;
}

.blur-setup--green::before {
  background-image: url(/images/vectors/blur-green.svg);
}
.blur-setup--green::after {
  background-image: url(/images/vectors/blur-green.svg);
}

.blur-setup--blue::before {
  background-image: url(/images/vectors/blur-blue.svg);
}
.blur-setup--blue::after {
  background-image: url(/images/vectors/blur-blue.svg);
}

/*Hero blurs*/

.blur-setup-hero-left::before {
  left: -110%;
  top: -20%;
}

.blur-setup-hero-right::after {
  right: -40%;
  top: 12.5%;
}

@media screen and (min-width: 541px) {
  .blur-setup-hero-left::before {
    left: -80%;
  }
}

@media screen and (min-width: 861px) {
  .blur-setup-hero-left::before {
    left: -50%;
  }
}

@media screen and (min-width: 1281px) {
  .blur-setup-hero-left::before {
    left: -30%;
    top: -40%;
    width: 1200px;
    height: 1200px;
  }

  .blur-setup-hero-right::after {
    right: -45%;
    top: 15%;
    width: 1200px;
    height: 1200px;
  }
}

@media screen and (min-width: 1761px) {
  .blur-setup-hero-left::before {
    top: -55%;
    left: -35%;
    width: 1500px;
    height: 1500px;
  }

  .blur-setup-hero-right::after {
    right: -45%;
    top: 15%;
    width: 1500px;
    height: 1500px;
  }
}

/*Services blurs*/

.blur-setup-services-left::before {
  right: -125%;
  top: -20%;
}

.blur-setup-services-right::after {
  left: -90%;
  top: 60%;
}

@media screen and (min-width: 541px) {
  .blur-setup-services-left::before {
    right: -80%;
  }

  .blur-setup-services-right::after {
    left: -60%;
    top: 60%;
  }
}

@media screen and (min-width: 861px) {
  .blur-setup-services-left::before {
    right: -50%;
  }
}

@media screen and (min-width: 961px) {
  .blur-setup-services-left::before {
    left: -50%;
    top: -40%;
  }

  .blur-setup-services-right::after {
    left: 50%;
    top: 60%;
  }
}

@media screen and (min-width: 1281px) {
  .blur-setup-services-left::before {
    left: -30%;
    top: -40%;
    width: 1200px;
    height: 1200px;
  }

  .blur-setup-services-right::after {
    left: 70%;
  }
}

@media screen and (min-width: 1761px) {
  .blur-setup-hero-left::before {
    top: -55%;
    left: -35%;
    width: 1500px;
    height: 1500px;
  }

  .blur-setup-services-right::after {
    left: 78%;
  }
}

/*Footer blurs*/

.blur-setup-footer-right::after {
  right: -125%;
  bottom: -25%;
}

@media screen and (min-width: 541px) {
  .blur-setup-footer-right::after {
    right: -80%;
  }
}

@media screen and (min-width: 841px) {
  .blur-setup-footer-right::after {
    right: -50%;
  }
}

@media screen and (min-width: 1281px) {
  .blur-setup-footer-right::after {
    right: -35%;
    bottom: -40%;
    width: 1200px;
    height: 1200px;
  }
}

@media screen and (min-width: 1761px) {
  .blur-setup-footer-right::after {
    right: -35%;
    bottom: -60%;
    width: 1500px;
    height: 1500px;
  }
}